/* Homework 4 (kept h1.css because html should not be modified)*/




/* The body should have padding and margin */
/* Does the body have padding and or margin? */
body{
    padding:1%;
    margin:1%;
    font-size:1.2em;
}

/* The header should have a background color, background image (using a local image), and padding */
/* Is the header styled? */
header{
    background:url(../images/flywheel.jpg) #FFFFFF top center no-repeat;
    background-size:cover;
    padding-top:25px;
    height:270px;
}


/* h1 elements should be centered and have a new font color */
h1{
    color:#FFFFFF;
    font-size:2em;
    text-transform:uppercase;
    text-align:center;    
}

/* The navigation links (and only the links in the navigation) should be styled with a new display, margin, border-radius, text-decoration, and padding */
/* Are ONLY the links in navigation styled, not the other links? */
nav a {
    /* make it look like a button */
    display:inline-block;
    margin:1% 3%;
    border-radius:15px;
    text-decoration:none;
    padding:2% 7%;
   
    color:#000000;
    background:rgba(255, 255, 255, 0.4);
    text-align:center;
}



/* The link to the current page should be styled differently from the other links (using class = "active') */
.active{
    background:#FFFFFF;
    color:#000000;
}



/* The sections should be next to each other, not one on top of the other. */
/* left element and its images */
.left{
    display:inline-block;
    background:#5E842C;
    width:20%;
    float:left;
}

.right{
    width:70%;
    padding-left:10px;
    display:inline-block;
    float:left;
}


/*The images should be part of the page now. In addition, they should have a border,
be centered horizontally, and have vertical (top/bottom) space between them and the other images. */
.left img
{
    display:block;
    max-width:75%;
    border:solid 2px #000000;
    margin:10% auto;
}



/* Week 4 specific */


/*  TABLE
    Style at a minimum:
    - Font - multiple families, size, weight and line-height
    - Width - don't take up the entire space
    - Margin - center the table */
table{
    font-family:Verdana, Arial, sans-serif;
    font-size: 0.8em;
    font-weight: 100;
    line-height: 2.5em;

    width:80%;
 
    margin:0% 8%;
    text-align:center;
}



/* TABLE HEADING */
table th{
    /*  change background color
        - linear gradient with browser prefixes */
    background: #5E842C;
    background: -webkit-linear-gradient(#5E842C, rgba(150, 191, 138, 0.8));
    background: -o-linear-gradient(#5E842C,, rgba(150, 191, 138, 0.8));
    background: -moz-linear-gradient(#5E842C,, rgba(150, 191, 138, 0.8));
    background: linear-gradient(#5E842C,, rgba(150, 191, 138, 0.8));

    /* add a border
        - round only the top two corner
        - make the bottom border thicker*/
    border:2px solid #ccff22;
    border-radius: 5px 5px 0px 0px;
    border-bottom:4px solid #ccff22;

    /* add at least one other property */
    color:#FFFFFF;
    line-height:3em;
    font-size:1.2em;
}



/* TABLE ROWS
    - set the opacity to a value of about 0.8
    - left align the first column, center the other two
    - set the opacity to a of value of 1 when the element is hovered upon */
table tr{
    opacity:0.8;
}

table tr td:first-child{
    text-align:left;
}


table tr:hover{
    opacity:1;
}



/*  TD
    - change the padding, font color, background color and set the border radius to 2px
    - optional: use text-shadow
*/
table td{
    
    padding:5px;
    color: #000001;
    background-color:rgba(150, 191, 138, 0.6);
    border-radius:2px;
}


/* text shadow for fun */
table tr td{
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}